<div id="<%= dom_id cart %>">
  <p>
    <strong>Name:</strong>
    <%= cart.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= cart.description %>
  </p>

  <p>
    <strong>Quantity:</strong>
    <%= session["product_ids"].count(cart.id.to_s) %>
  </p>

  <p>
    <strong>Total Price:</strong>
    <%= session["product_ids"].count(cart.id.to_s)*cart.price %>
  </p>
  <p>
    <strong>Product Image:</strong>
  </p>
  <p>
    <%= image_tag cart.product_image.variant(:medium) if cart.product_image.attached? %>
    </p>

</div>
